<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :username%><br />
    <%= f.text_field :username, class: 'form-control', autofocus: true, :readonly => true %>
  </div>

  <div class="form-group">
    <%= f.label :first_name%><br />
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :last_name%><br />
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
  </div>

  <div class="form-group">
    <%=f.label :avatar %>
    <%= image_tag(resource.avatar_thumbnail) if resource.avatar.attached? %>
    <%= f.file_field :avatar, direct_upload: true, class:"form-control" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

   <br />
  <div class="form-group">
    <%= f.label :password %>
    <small id="passwordHelpBlock" class="form-text text-muted">
      (leave blank if you don't want to change it)
    </small>
    <br />
    <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
    <small id="passwordHelpBlock" class="form-text text-muted">
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </small>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
  </div>
  <br />
  <div class="form-group">
    <%= f.label :current_password %>
    <small id="passwordHelpBlock" class="form-text text-muted">
      (we need your current password to confirm your changes)
    </small>
    <br />
    <%= f.password_field :current_password, class: 'form-control', autocomplete: "current-password" %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit "Update", class: " btn btn-success"%>
  </div>
<% end %>
<br />
<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></p>

<%= link_to "Back", :back, class: "btn btn-dark" %>
