<div class="comment-<%=comment.id.to_s%>">
  <div class="comment-meta">
    <%= cl_image_tag(comment.user.avatar.key, width: 30, height: 30, crop: :fill, class:"img-circle profile-pic") %>
    <%= link_to comment.user.username,profile_path(comment.user.username), class:"text-dark" %>
  </div>
  <% if policy(comment).destroy? %>
    <%= link_to 'Delete', comment_path(comment.id), method: :delete, remote: true, class:"btn btn-sm btn-outline-danger float-end delete-btn-"+comment.id.to_s %>
  <% end %>
  <% if policy(comment).update? %>
    <%= link_to 'Edit', edit_comment_path(comment.id), remote: true, class:"btn btn-sm btn-outline-primary float-end edit-btn-"+comment.id.to_s %>
  <% end %>

  <div class="d-flex justify-content-between comment-content">
    <%= simple_format comment.content %>
    <small class="text-muted">
      <%= time_ago_in_words comment.updated_at%> ago
    </small>
  </div>
</div>
