<% @follower_suggestions.each do |user| %>
  <div class="recommended-followers">
    <div class="row">
      <div class="col-2">
        <%# <%= image_tag user.avatar.url, class:"img-fluid" %>
      </div>
      <div class="col-10">
        <%= link_to user.username, profile_path(user.username), class:"text-dark" %>
        <div class="float-right">
          <% if following? user.id %>
            <%= link_to "Following", unfollow_user_path(user.username), remote: true, class: "btn unfollow-btn", id: 'unfollow-btn-'+user.username, method: :post%>
          <% else %>
            <%= link_to "Follow", follow_user_path(user.username), remote: true, class: "btn follow-btn", id: 'follow-btn-'+user.username, method: :post%>
          <% end %>
        </div>
        <p class="text-muted"><%= user.created_at > 2.days.ago ? "New here" : "Followed by " %></p>
      </div>
  </div>
<%end%>
