<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <%=image_tag @user.avatar_thumbnail, class:"img-circle profile-pic"%>
    </div>
    <div class='col-8'>
      <h1> <%=@user.full_name%> </h1>
      <span>
        <% if can_edit_profile? @user.id %>
          <%= link_to "Edit Profile", edit_user_registration_path(current_user.username), class: "btn btn-secondary" %>
        <% elsif following? @user.id %>
          <%= link_to "Following", unfollow_user_path, remote: true, class: "btn unfollow-btn", id: 'unfollow-btn-'+@user.username, method: :post%>
        <% else %>
          <%= link_to "Follow", follow_user_path, remote: true, class: "btn follow-btn", id: 'follow-btn-'+@user.username, method: :post%>
        <% end %>
      </span>
      <div class="row profile-stats">
        <div class="col-4">
          <%=@user.posts.count%> posts
        </div>
        <div class="col-4" id= "follower-count">
          <%=@user.follower_count%> followers
        </div>
        <div class="col-4">
          <%=@user.following_count%> following
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class='row profile-posts'>
      <%@posts.each do |post|%>
        <div class='col-4'>
          <div class='post post-square' style="background: url(<%= post.image.url %>) no-repeat center top">
            <%= link_to post_path(post) do %>
              <div class="post-stats">
                <div class="inner-post-stats">
                  <i class="fa fa-heart"></i> <%= post.likes_count%>
                  <i class="fa fa-comment m-l-15"></i> <%= post.comments_count%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <%end%>
  </div>
</div>
