<div class='container'>
  <div class='row'>
    <div class='col-4'>
      <%= cl_image_tag(@user.avatar.key, width: 150, height: 150, crop: :fill, class:"img-circle profile-pic") %>
    </div>
    <div class='col-8'>
      <h1> <%=@user.full_name%> </h1>
      <span>
        <% if policy(@user).update? %>
          <%= link_to edit_user_registration_path(current_user.username), class: "btn btn-outline-secondary" do %>
            <i class="fas fa-edit"></i> Edit Profile
          <% end %>
        <% elsif following? @user.id %>
          <%= link_to "Following", unfollow_user_path(@user), remote: true, class: "btn unfollow-btn", id: 'unfollow-btn-'+@user.username, method: :post%>
        <% elsif pending? @user.id %>
          <%= link_to "Pending", unfollow_user_path(@user), remote: true, class: "btn unfollow-btn", id: 'unfollow-btn-'+@user.username, method: :post%>
        <% else %>
          <%= link_to "Follow", follow_user_path(@user), remote: true, class: "btn follow-btn", id: 'follow-btn-'+@user.username, method: :post%>
        <% end %>
      </span>
      <div class="row profile-stats">
        <div class="col-4">
          <%=@user.posts.count%> posts
        </div>
        <div class="col-4" id= "follower-count">
          <%=@user.follower_count%> followers
        </div>
        <div class="col-4">
          <%=@user.following_count%> following
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class='row profile-posts'>

    <% if following? @user.id%>
        <%= render "posts/profile" %>
    <% elsif !@user.private || policy(@user).update?  %>
        <%= render "posts/profile" %>
    <% end %>

  </div>
</div>
