<%=form_for @post, html: {multipart: true} do |f|%>
  <div class="form-group">
    <%=f.label "images (max 10)" %>
<<<<<<< Updated upstream
    <%= f.file_field :images, multiple: true, direct_upload: true, class:"form-control" %>
=======
    <%= f.file_field :images, multiple: true, direct_upload: true, class:"form-control", accept: "image/png, image/jpg, image/jpeg" %>
>>>>>>> Stashed changes
  </div>
  <br>
  <div class="form-group">
    <%=f.label :caption%>
    <%= f.text_area :caption, class:"form-control" %>
  </div>

  <%= f.submit 'Save Post', class: 'btn btn-outline-success' %>
<%end%>
