<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="post">
        <% @post.images.each do |image| %>
          <%= cl_image_tag(image.key, class:"img  img-fluid", style:"inline-size: -moz-available;")%>
        <%end%>
      </div>
    </div>

    <div class="col-4">
      <div class="post-meta">
        <%= cl_image_tag(@post.user.avatar.key, width: 50, height: 50, crop: :fill, class:"img-circle profile-pic") %>
        <%= link_to @post.user.username, profile_path(@post.user.username), class:"text-dark" %>
      </div>
      <div class="comment-box">
        <div class="comment-list">
          <%= simple_format @post.caption%>
          <% if @post.comments.exists? %>
            <%= render @post.comments %>
          <% end %>
        </div>
        <div class="comment-form">
          <%= render "comments/form", post: @post %>
        </div>
      </div>
      <div class="post-details">
        <div class="post-actions">
          <i class="fa fa-2x fa-heart post-like like-<%= @post.id %> <%= 'active' if current_user.liked? @post %>">
            <%= link_to 'like', post_likes_path(@post),
            method: :post, remote: true, class:"btn" %>
          </i>
          <i class="fa fa-2x fa-comment post-comment"></i>
        </div>

        <p><strong id="post-<%= @post.id %>-likes">
          <%= @post.likes_count %> likes
        </strong></p>
        <small class="text-muted">
          <%= time_ago_in_words @post.created_at%> ago
        </small>
      </div>
    </div>
  </div>
</div>
