<li class="nav-item">
  <%= link_to "Dashboard", root_path, class: "nav-link active" %>
</li>
<li class="nav-item">
  <%= link_to "New Post", new_post_path, class: "nav-link active"%>
</li>
<li class="nav-item">
  <%= link_to "New Story", new_story_path, class: "nav-link active"%>
</li>
<li class="nav-item">
  <%= link_to "My profile", profile_path(current_user.username), class: "nav-link active"%>
</li>
<li class="nav-item">
  <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link active" %>
</li>
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dropdown</a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
</li>
